html,
body,
body.login {
/*	background-color: #ddd;*/
	}

#login,
#login h1 a {
	width: 339px;
}

#login h1 a{
	padding:  0px 0px 0px 0px;
	height: 45px;
}

body.login h1 a {
	background-image: url('logo-eracom.svg');
	background-size: 320px 45px;
	background-position: 10px 0px;
}

.login #nav a {
/*    color: #eee !important;*/
}

.login #nav a:hover {
/*    color: #ffdd03 !important;*/
}

#nav {
/*    text-shadow: 0 1px 0 #333;*/
}


.login #nav, .login #backtoblog {
/*    text-shadow: 0 1px 0 #000000;*/
}

.login #nav a, .login #backtoblog a {
/*    color: #fff !important;*/
}